<div class="body">
<div class="toolbar" >
<button type="button" class="btn btn-primary">Films</button>
<button type="button" class="btn btn-secondary">netflix</button>
<button type="button" class="btn btn-success">iTunes</button>
<button type="button" class="btn btn-info">Amazon Prime</button>
<button type="button" class="btn btn-warning">Hulu Plus</button>
<button type="button" class="btn btn-danger">All Services</button>
<input class="form-control me-sm-2" type="text" placeholder="Search for a film">
</div>


<div class="type">
    <button target="_blank" rel="noopener" class="nav-link" href="https://youtube.com/">youtube</button>
    <button target="_blank" rel="noopener" class="nav-link" href="https://twitter.com/bootswatch"> Twitter</button>



    <span class="account"> <a href="#">Don't have a account yet</a></span>
    <button target="_blank" rel="noopener" class="nav-link" href="https://signup.com/bootswatch">Sign up</button>
  </div>
  <div class="div1">
<b>Find great films on your favourite service</b>

<input class="form-control me-sm-2" type="text" style="width:25%;" placeholder="Help us better by rating 10 films">
</div>
<div class="images">
  <div class="photo">
<img src="assets/netflix.jpg" alt="photo"/>
</div>
<div class="photo">
  <img src="assets/apple.png" alt="photo"/>
</div>
<div class="photo">
  <img src="assets/amazon.jfif" alt="photo"/>
</div>
<div class="photo">
  <img src="assets/hullu.webp" alt="photo"/>
</div>
  </div>
<div class="text">
  <input id="comment" type="text" size="92.5" placeholder="? With a goodfil.ms account you can save all of your film preferences to find better films to see">
</div>

</div>